<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!--/* Google Tag Manager (noscript) */-->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MK3LCST6');
	</script>
	<!--/* End Google Tag Manager (noscript) */-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>유신예상종합지 판매처 등록문의</title>
<meta property="og:type" content="website"> 
<meta property="og:title" content="유신예상종합지">
<meta property="og:description" content="안녕하세요. 유신예상종합지입니다.">
<meta name="naver-site-verification" content="a6aca821283eee145a2bdd48ca7b1a509479efc1" />
<meta property="og:image" content="https://yousin.co.kr/img/yousin_favicon.ico">
<meta property="og:url" content="https://yousin.co.kr">
<!-- 노토산스 웹폰트 링크 추가 -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
<link rel="stylesheet" href="../css/main.css">
<link rel="shortcut icon" href="../img/yousin_favicon.ico">
<link rel="canonical" href="https://yousin.co.kr">
<meta name="keywords" content="유신,유신지추입,자유,대박,쌍승,복승,복연승,단승,삼복승,삼쌍승,단방,축마,꼬리마,사행,복병마,능력지수,고배당,초고배당,증감,경주순위">
<meta name="Description" content="유신예상종합지" />

</head>
<body class="info">
	<!-- Google Tag Manager (noscript) -->
    <noscript>
	    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK3LCST6" height="0" width="0" style="display:none;visibility:hidden">
	    </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<!-- 햄버거 메뉴 -->
<div th:replace="include/main_menu :: main_menu"></div>	

    <!-- 로고 이미지 -->
    <div class="header">
        <div class="back">
          <a href="../"><img src="../img/back.png" alt="홈화면"></a>
        </div>
      <a href="#" onclick="return false;" class="logo"><img src="../img/sub_logo2.jpg" alt="로고 이미지"></a>
    </div>
    <div class="wrap">
        <div class="info_wrap">
            <div class="email">
                <a href="mailto:yousin_2005@naver.com" target="_blank">이메일<br />상담하기</a>
            </div>

            <div class="kakao">
                <a href="https://pf.kakao.com/_xarGeG" target="_blank">카톡<br />상담하기</a>
            </div>

        </div>
  <style>
    .ad01 {
      position: relative;
      width: 90%;
      overflow: hidden;
	  margin-bottom:16px
    }
    .slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    .slider a {
      flex-shrink: 0;
      width: 100%;
    }
    .slider img {
      width: 100%;
    }
    .dot-container {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
    }
    .dot {
      height: 10px;
      width: 10px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .dot.active {
      background-color: #717171;
    }
  </style>
<div class="ad01">
  <div class="slider">
	<a href="https://m.smartstore.naver.com/yousin2005"><img src="../img/ad_01-4.png" alt="Image 1"></a>
	<a href="../index.html"><img src="../img/ad_01-5.png" alt="Image 2"></a>
    <a href="../sub/hit"><img src="../img/ad_01-1.png" alt="Image 3"></a>
    <a href="../sub/dep"><img src="../img/ad_01-2.png" alt="Image 4"></a>
    <a href="../sub/shop"><img src="../img/ad_01-3.png" alt="Image 5"></a>
    <!-- 필요한 만큼 이미지를 추가하세요 -->
  </div>
  <div class="dot-container">
    <!-- 각 이미지에 대한 점 추가 -->
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
	<span class="dot"></span>
	<span class="dot"></span>
    <!-- 이미지 개수에 맞게 점을 추가하세요 -->
  </div>
</div>



<script>
		  /*const slider = document.querySelector('.slider');
		  const dots = document.querySelectorAll('.dot');

		  let currentIndex = 0;

		  function updateSlider(index) {
			const translateValue = -index * 100 + '%';
			slider.style.transform = `translateX(${translateValue})`;

			dots.forEach((dot, i) => {
			  dot.classList.toggle('active', i === index);
			});
		  }

		  dots.forEach((dot, i) => {
			dot.addEventListener('click', () => {
			  currentIndex = i;
			  updateSlider(currentIndex);
			});
		  });

		  // 자동 슬라이드 기능 추가
		  setInterval(() => {
			currentIndex = (currentIndex + 1) % dots.length;
			updateSlider(currentIndex);
		  }, 3000); // 3초마다 슬라이드 변경

		  // 초기 슬라이드 설정
		  updateSlider(currentIndex);*/


		const slider = document.querySelector('.slider');
		const dots = document.querySelectorAll('.dot');

		let currentIndex = 0;
		let touchStartX = 0;
		let touchEndX = 0;

		function updateSlider(index) {
		  const translateValue = -index * 100 + '%';
		  slider.style.transform = `translateX(${translateValue})`;

		  dots.forEach((dot, i) => {
			dot.classList.toggle('active', i === index);
		  });
		}

		dots.forEach((dot, i) => {
		  dot.addEventListener('click', () => {
			currentIndex = i;
			updateSlider(currentIndex);
		  });
		});

		// 자동 슬라이드 기능 추가
		const autoSlideInterval = setInterval(() => {
		  currentIndex = (currentIndex + 1) % dots.length;
		  updateSlider(currentIndex);
		}, 5000); // 5초마다 슬라이드 변경

		// 초기 슬라이드 설정
		updateSlider(currentIndex);

		// 터치 이벤트 추가
		slider.addEventListener('touchstart', handleTouchStart);
		slider.addEventListener('touchmove', handleTouchMove);
		slider.addEventListener('touchend', handleTouchEnd);

		function handleTouchStart(event) {
		  touchStartX = event.touches[0].clientX;
		}

		function handleTouchMove(event) {
		  touchEndX = event.touches[0].clientX;
		}

		function handleTouchEnd() {
		  if (touchStartX - touchEndX > 50) { // 왼쪽으로 스와이프
			currentIndex = (currentIndex + 1) % dots.length;
			updateSlider(currentIndex);
		  } else 
		  if (touchEndX - touchStartX > 50) { // 오른쪽으로 스와이프
			currentIndex = currentIndex === 0 ? dots.length - 1 : currentIndex - 1;
			updateSlider(currentIndex);
		  }
		}


</script>

        <div class="ad02">
            <a href="#" onclick="return false;"><img src="../img/ad_02.png" alt="광고2"></a>
        </div>
    </div>

    <div th:replace="include/footer.html :: footer"></div>

</body>
<script>
function toggleMenu() {
    var overlay = document.querySelector('.overlay');
    var menu = document.querySelector('.menu');
    var hamburger = document.querySelector('.hamburger-menu');
    if (overlay.style.display === "block") {
        overlay.style.display = "none";
        menu.style.display = "none";
        hamburger.classList.remove('change');
    } else {
        overlay.style.display = "block";
        menu.style.display = "block";
        hamburger.classList.add('change');
    }
}
</script>
</html>
