<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!--/* Google Tag Manager (noscript) */-->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MK3LCST6');
	</script>
	<!--/* End Google Tag Manager (noscript) */-->
<meta charset="utf-8">
<title>유신예상종합지 네이버구매하기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="naver-site-verification" content="a6aca821283eee145a2bdd48ca7b1a509479efc1" />
	<meta property="og:type" content="website"> 
	<meta property="og:title" content="유신예상종합지">
	<meta property="og:description" content="안녕하세요. 유신예상종합지 네이버구매하기입니다.">
	<meta property="og:image" content="https://yousin.co.kr/img/yousin_favicon.ico">
	<meta property="og:url" content="https://yousin.co.kr">
    <!-- 노토산스 웹폰트 링크 추가 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
	<link rel="stylesheet" href="../css/main.css">
<link rel="shortcut icon" href="../img/yousin_favicon.ico">
	<link rel="canonical" href="https://yousin.co.kr">
	<meta name="keywords" content="유신,유신지,유신종합지,유신예상지삼쌍승,단방,축마,고배당,초고배당,증감,경주순위">
	<meta name="Description" content="안녕하세요. 유신예상종합지 네이버구매하기입니다." />
</head>
	
<body>
	<!-- Google Tag Manager (noscript) -->
    <noscript>
	    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK3LCST6" height="0" width="0" style="display:none;visibility:hidden">
	    </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<!-- 햄버거 메뉴 -->
<div th:replace="include/main_menu :: main_menu"></div>	

	<!-- 로고 이미지 -->
	<div class="header">
		<div class="back">
		  <a href="../index.html" ><img src="../img/back.png" alt="홈화면" ></a>
		</div>
	  <a href="#" onclick="return false;" class="logo"><img src="../img/sub_logo7.jpg" alt="유신예상종합지 로고"></a>
	</div>
    <!-- 컨텐츠 박스 -->
	<div class="wrap">

		<div style="text-align: center; width: 90%;">
			<p class="naver_txt01">네이버 구매하기 입니다.<br/>원하시는 상품을 선택해서 구매하세요.</p>
		</div>
		
        <div class="m_price_box">
            <ul>
               <li><a href="https://smartstore.naver.com/yousin2005/products/11524377195" target="_blank"><img src="../img/price_thum01.png" alt="1주 사용권" />
               <span><b>1주 사용권</b><br/>구매하기</span>
               </a></li>
               <li><a href="https://smartstore.naver.com/yousin2005/products/11524344811" target="_blank"><img src="../img/price_thum02.png" alt="4주 사용권" />
               <span><b>4주 사용권</b> <em>8%할인</em><br/>구매하기</span>
               </a></li>
               <li><a href="https://smartstore.naver.com/yousin2005/products/11524362182" target="_blank"><img src="../img/price_thum03.png" alt="12주 사용권" />
               <span><b>12주 사용권</b> <em>10%할인</em><br/>구매하기</span>
               </a></li>   
           </ul>
        </div>
		
		<div style="text-align: center; width: 90%;">
			<p class="n_01">네이버 스토어에서 구매 가능합니다.</p>
			<a class="n_02" href="https://m.smartstore.naver.com/yousin2005">네이버 구매하기</a>
		</div>
		<div>
			<img src="../img/유신예상종합지-구매-설명서.jpg" alt="유신예상종합지 구매 설명서">
		</div>
	</div>


<div th:replace="include/footer.html :: footer"></div>

</body>

<script>
function toggleMenu() {
    var overlay = document.querySelector('.overlay');
    var menu = document.querySelector('.menu');
    var hamburger = document.querySelector('.hamburger-menu');
    if (overlay.style.display === "block") {
        overlay.style.display = "none";
        menu.style.display = "none";
        hamburger.classList.remove('change');
    } else {
        overlay.style.display = "block";
        menu.style.display = "block";
        hamburger.classList.add('change');
    }
}
</script>
</html>
