<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!--/* Google Tag Manager (noscript) */-->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MK3LCST6');
	</script>
	<!--/* End Google Tag Manager (noscript) */-->
<meta charset="utf-8">
<title>유신예상종합지 판매처</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:type" content="website"> 
	<meta property="og:title" content="유신예상종합지">
	<meta property="og:description" content="안녕하세요. 유신예상종합지 판매처입니다.">
	<meta name="naver-site-verification" content="a6aca821283eee145a2bdd48ca7b1a509479efc1" />
	<meta property="og:image" content="https://yousin.co.kr/img/yousin_favicon.ico">
	<meta property="og:url" content="https://yousin.co.kr">
    <!-- 노토산스 웹폰트 링크 추가 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="shortcut icon" href="https://yousin.co.kr/img/yousin_favicon.ico">
	<link rel="canonical" href="https://yousin.co.kr">
	<meta name="keywords" content="자유,대박,쌍승,복승,복연승,단승,삼복승,삼쌍승,단방,축마,꼬리마,사행,상위마,경주의법칙,축마예상,혼전경주,복병마,능력지수,고배당,초고배당,증감,경주순위">
	<meta name="Description" content="안녕하세요. 유신예상종합지 판매처입니다." />
    <style>

	footer {clear:both;}
	.po_r{position:relative;}


			/* Pc  */
			@media only screen and (max-width: 1920px) {

				.wrap { margin-top: 5vw; }
				.header_sub {height: 15vw;}
				.tab-slider-content > div:first-child {margin-top: 12vw;}
				.name02 {font-size: 2vw;}
				.name03 {font-size: 1.2vw;}

			}

			@media ( max-width: 1200px ) {
				.wrap { margin-top: 15vw; }
			}

			/* Table */
			@media ( max-width: 768px ) {
				.wrap { margin-top: 43vw; }
			}

			/* Mobile  */
			@media only screen and (max-width: 640px) {

				.header_sub {height: 33vw;}
				.name02 {font-size: 5vw;}
				.name03 {font-size: 3.5vw;}

			}

			@media only screen and (max-width: 360px) {

				.header_sub {height: 33vw;}

			}
    </style>
</head>
	
<body>
	<!-- Google Tag Manager (noscript) -->
    <noscript>
	    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK3LCST6" height="0" width="0" style="display:none;visibility:hidden">
	    </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<!-- 햄버거 메뉴 -->
<div th:replace="include/main_menu :: main_menu"></div>	

	<!-- 로고 이미지 -->
	<div class="header_sub">
		
		<div class="header">
				<div class="back">
				  <a href="../"><img src="../img/back.png" alt="홈화면"></a>
				</div>
			  <a href="#" onclick="return false;" class="logo sublogo"><img src="../img/sub_logo.jpg" alt="로고 이미지"></a>
		</div>
	</div>

		<div class="tab-slider">
			<div class="tab-slider-nav">
				<div class="tab-slider-nav-item active">과천</div>
				<div class="tab-slider-nav-item">서울</div>
				<div class="tab-slider-nav-item">경기</div>
				<div class="tab-slider-nav-item">인천</div>
				<div class="tab-slider-nav-item">충남</div>
				<div class="tab-slider-nav-item">대구</div>
				<div class="tab-slider-nav-item">경남</div>
				<div class="tab-slider-nav-item">부산</div>
				<div class="tab-slider-nav-item">광주</div>
			</div>
		</div>

	</div>
    <!-- 컨텐츠 박스 -->
	<div class="wrap"> <!--  style="margin-top:63vw" -->
		<div class="tab-slider-content">
			<div class="map01"><p class="name01">과천</p>
				<div class="num1-1 po_r">
					<p class="name02">한국마사회</p><!--<span>판매중</span>   style="position: absolute; top: 13%; left: 29%; " -->
					<a href="https://naver.me/5buWxc2O" target="_blank" class="map">지도보기</a>
					<p class="name03">경기 과천시 경마공원대로 107</p>
				</div>
			</div>
			<div class="map01"><p class="name01">서울</p>
				<div class="num2-1 po_r" >
					<p class="name02">강동지사</p><!--<span>판매중</span>  style="background: #ff3d3d; color: #fff; position: absolute; top: 13%; left: 24%; border-radius: 50px; padding: 2px 8px; font-size: 2.6vw;" -->
					<a href="https://naver.me/5JVhwH70" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 강동구 구천면로 200 문화빌딩</p>
				</div>

				<div class="num2-3 po_r" >
					<p class="name02">중랑지사</p><!--<span>판매중</span>   style="background: #ff3d3d; color: #fff; position: absolute; top: 13%; left: 24%; border-radius: 50px; padding: 2px 8px; font-size: 2.6vw;" -->
					<a href="https://naver.me/G87ARgNY" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 중랑구 망우로 390</p>
				</div>
				<div class="num2-7">
					<p class="name02">강북지사</p>
					<a href="https://naver.me/F5LDB3EO" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 강북구 도봉로 302</p>
				</div>
				<div class="num2-8">
					<p class="name02">도봉지사</p>
					<a href="https://naver.me/FGoUdg7s" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 도봉구 노해로67길 14</p>
				</div>
				<div class="num2-4">
					<p class="name02">영등포지사</p>
					<a href="https://naver.me/Gi9e6qwM" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 영등포구 영중로8길 14</p>
				</div>
				<div class="num2-5">
					<p class="name02">동대문지사</p>
					<a href="https://naver.me/FVPmqnT5" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 동대문구 난계로 254</p>
				</div>
				<div class="num2-6">
					<p class="name02">종로지사</p>
					<a href="https://naver.me/5SWDdy1I" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 종로구 난계로29길 49</p>
				</div>

				<div class="num2-2">
					<p class="name02">선릉지사</p>
					<a href="https://naver.me/FLhYtHD9" target="_blank"class="map">지도보기</a>
					<p class="name03">서울 강남구 테헤란로 416</p>
				</div>
			</div>
			<div class="map01"><p class="name01">경기</p>
				<div class="num3-1 po_r" >
					<p class="name02">분당지사</p><!--<span>판매중</span>  style="background: #ff3d3d; color: #fff; position: absolute; top: 13%; left: 24%; border-radius: 50px; padding: 2px 8px; font-size: 2.6vw;" -->
					<a href="https://naver.me/FJHibzcC" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 성남시 분당구 황새울로311번길 37</p>
				</div>
				<div class="num3-2">
					<p class="name02">구리지사</p>
					<a href="https://naver.me/57wcbuXm" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 구리시 안골로 105</p>
				</div>
				<div class="num3-3">
					<p class="name02">수원지사</p>
					<a href="https://naver.me/F8KUUWe9" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 수원시 영통구 봉영로 1617 훼미리타워</p>
				</div>
				<div class="num3-4">
					<p class="name02">의정부지사</p>
					<a href="https://naver.me/xQOeU0bU" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 의정부시 시민로 45</p>
				</div>
				<div class="num3-5">
					<p class="name02">일산지사</p>
					<a href="https://naver.me/IFjDd0sQ" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 고양시 일산동구 중앙로 1275번길 50-15</p>
				</div>
				<div class="num3-6">
					<p class="name02">광명지사</p>
					<a href="https://naver.me/GXkiMjhe" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 광명시 디지털로 29</p>
				</div>
				<div class="num3-7">
					<p class="name02">시흥지사</p>
					<a href="https://naver.me/FHY9DFrO" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 시흥시 마유로 415</p>
				</div>
				<div class="num3-8">
					<p class="name02">안산지사</p>
					<a href="https://naver.me/5Am9LIX4" target="_blank"class="map">지도보기</a>
					<p class="name03">경기 안산시 단원구 삼일로 310</p>
				</div>
			</div>
			<div class="map01"><p class="name01">인천</p>
				<div class="num4-1 po_r" >
					<p class="name02">연수지사</p><!--<span>판매중</span>  style="background: #ff3d3d; color: #fff; position: absolute; top: 13%; left: 24%; border-radius: 50px; padding: 2px 8px; font-size:2.6vw;" -->
					<a href="https://naver.me/GkKrQ6xa" target="_blank"class="map">지도보기</a>
					<p class="name03">인천 연수구 벚꽃로 114</p>
				</div>
				<div class="num4-2 po_r" >
					<p class="name02">미추홀지사</p><!--<span>판매중</span>  style="background: #ff3d3d; color: #fff; position: absolute; top: 13%; left: 29%; border-radius: 50px; padding: 2px 8px; font-size:2.6vw;" -->
					<a href="https://naver.me/Fa3IKnzO" target="_blank"class="map">지도보기</a>
					<p class="name03">인천 미추홀구 안중로 9</p>
				</div>
				<div class="num4-3">
					<p class="name02">부평지사</p>
					<a href="https://naver.me/59jr3msf" target="_blank"class="map">지도보기</a>
					<p class="name03">인천 부평구 장제로 54</p>
				</div>
				<div class="num4-4">
					<p class="name02">중구지사</p>
					<a href="https://naver.me/5h3fMYMr" target="_blank"class="map">지도보기</a>
					<p class="name03">인천 중구 신포로23번길 49 5층, 6층</p>
				</div>
			</div>
			<div class="map01"><p class="name01">충남</p>
				<div class="num5-1">
					<p class="name02">천안지사</p>
					<a href="https://naver.me/xNdlM3Kr" target="_blank"class="map">지도보기</a>
					<p class="name03">충남 천안시 서북구 성정두정로 62 희망빌딩</p>
				</div>
			</div>
			<div class="map01"><p class="name01">대구</p>
				<div class="num6-1">
					<p class="name02">대구지사</p>
					<a href="https://naver.me/55IyCuVR" target="_blank"class="map">지도보기</a>
					<p class="name03">대구 달성군 가창면 가창로175길 6</p>
				</div>
			</div>
			<div class="map01"><p class="name01">경남</p>
				<div class="num7-1">
					<p class="name02">부산경남지사</p>
					<a href="https://naver.me/ForRU6QX" target="_blank"class="map">지도보기</a>
					<p class="name03">부산 강서구 가락대로 929 렛츠런파크</p>
				</div>
				<div class="num7-2">
					<p class="name02">창원지사</p>
					<a href="https://naver.me/xLJB6VB8" target="_blank"class="map">지도보기</a>
					<p class="name03">경남 창원시 성산구 중앙대로 33</p>
				</div>
			</div>
			<div class="map01"><p class="name01">부산</p>
				<div class="num8-1">
					<p class="name02">동구지사</p>
					<a href="https://naver.me/FCb6EjJt" target="_blank"class="map">지도보기</a>
					<p class="name03">부산 동구 자성로 134</p>
				</div>
			</div>
			<div class="map01"><p class="name01">광주</p>
				<div class="num1-1">
					<p class="name02">광주지사</p>
					<a href="https://naver.me/xhHncjEL" target="_blank"class="map">지도보기</a>
					<p class="name03">광주 동구 구성로 257</p>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="include/footer.html :: footer"></div>


<script>
	function toggleMenu() {
		var overlay = document.querySelector('.overlay');
		var menu = document.querySelector('.menu');
		var hamburger = document.querySelector('.hamburger-menu');
		if (overlay.style.display === "block") {
			overlay.style.display = "none";
			menu.style.display = "none";
			hamburger.classList.remove('change');
		} else {
			overlay.style.display = "block";
			menu.style.display = "block";
			hamburger.classList.add('change');
		}
	}
</script>

<script>
    // 탭 클릭 시 해당 콘텐츠로 스크롤
    const tabItems = document.querySelectorAll('.tab-slider-nav-item');
    const contentSections = document.querySelectorAll('.map01');

    tabItems.forEach((item, index) => {
        item.addEventListener('click', () => {
            contentSections[index].scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>
<script>
    // 탭 클릭 시 해당 콘텐츠로 스크롤
const headerHeight = 230; // 임의의 값으로 설정

tabItems.forEach((item, index) => {
    item.addEventListener('click', () => {
        const scrollY = contentSections[index].getBoundingClientRect().top + window.scrollY;
        window.scroll({
            top: scrollY - headerHeight,
            behavior: 'smooth'
        });
    });
});
</script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabItems = document.querySelectorAll('.tab-slider-nav-item');

            tabItems.forEach(item => {
                item.addEventListener('click', function () {
                    // 모든 탭에서 active 클래스 제거
                    tabItems.forEach(item => {
                        item.classList.remove('active');
                    });

                    // 클릭한 탭에 active 클래스 추가
                    this.classList.add('active');
                });
            });
        });
    </script>
</body>
<script>
function toggleMenu() {
    var overlay = document.querySelector('.overlay');
    var menu = document.querySelector('.menu');
    var hamburger = document.querySelector('.hamburger-menu');
    if (overlay.style.display === "block") {
        overlay.style.display = "none";
        menu.style.display = "none";
        hamburger.classList.remove('change');
    } else {
        overlay.style.display = "block";
        menu.style.display = "block";
        hamburger.classList.add('change');
    }
}
</script>
</html>
