@charset "utf-8";
/* CSS ���� */
 /* ���� ��Ÿ�� */
.content-box a, div, p{font-family:'NanumGothic'}
body {font-family: 'NanumGothic', 'serif';margin:0px;padding:0}
.wrap{width:100%;float:left;z-index:1;position:relative;}
.green{color:#9ccc3c}
footer{}

/*�±��ʱ�ȭ */
* {  margin: 0 auto;  padding: 0;}a {  text-decoration: none;}
.header{border-top: 5px solid #9ccc3d;  margin-top: 5vw;  width: 90%;position:relative;}
.shop .header{    z-index: 10;     }
.header_sub { width: 100%;  background: #fff;    position: fixed;  margin-top:0vw;z-index:10;height: 33vw;}

.back{position:fixed; top:11vw; left:5vw;background-size:50%;z-index:10}
.back a img { width: 50%; /* �̹����� �ʺ� �θ� ����� 50%�� ���� */ height: auto; /* ���̸� �ڵ����� �����Ͽ� ���� ���� */}
.logo img {
  display: block;
  margin: 20px auto;
  max-width: 100%; /* �̹����� �θ� ��ҿ� �°� �����ǵ��� */
  height: auto; /* �̹����� ���� ���� ���� */
}

/* ����� ȭ�� ũ�⿡ ���� �̹��� ũ�� ���� */
@media only screen and (max-width: 600px) {
  .logo img {
    /*width: 80%;*/width: 100%; /* ����� ȭ�鿡�� �̹��� ũ�⸦ 50%�� ���� */
  }
}

/* ����� ȭ�� ũ�⿡ ���� �̹��� ũ�� ���� */
@media only screen and (max-width: 600px) {
  .info .logo img {
    width: 100%; /* ����� ȭ�鿡�� �̹��� ũ�⸦ 50%�� ���� */
  }
}


.sublogo img { display: block; margin: 20px auto;  max-width: 100%; /* �̹����� �θ� ��ҿ� �°� �����ǵ��� */  height: auto; /* �̹����� ���� ���� ���� */}

/* üũ����Ʈ dep������ 
.dep1,.dep2,.dep3,.dep4 {margin: 0 auto;width: 90%;}*/

/* ������ �ڽ� ��Ÿ�� */
.content-box {width: 90%;height: 20vw; margin: 5px auto; text-align: center; line-height: 150px; border-radius: 24px; }
.content-box a{ width: 90%; height: 20vw; line-height: 6.5vw; display: block; font-size: 1.5em;letter-spacing: -1px; color: #000; font-weight: 600;}
.small {font-size:0.7em; font-weight:500}
.box1{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%}
.box2{background:#9ccc3c url(../img/arrow.png) no-repeat 96% 50%}
.box3{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%}
.box4{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%}
.box5{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%}

footer p {width:100%; text-align:center; font-size: 1.2em; }
footer .wrap {text-align:center; font-size:0.8em; letter-spacing: -1px ; font-weight: 400; color: #999999}
footer .wrap img {max-width:30%;}

/* main*/
#main_con_box{width: 90%;height: 20vw; margin: 5px auto; text-align: center; line-height: 150px; border-radius: 24px; }
#main_con_box2{width: 90%;height: 20vw; margin: 0px auto 10px; text-align: center; line-height: 150px; border-radius: 24px; }
#main_con_box .box1{width:49%; float:left;}
#main_con_box .box1_2{width:50%; float:right;}
#main_con_box2 .box3{width:49%; float:left;}
#main_con_box2 .box4{width:50%; float:right;}

/* 네이버 사용권 구매하기 */
div.m_price_box {width:640px;margin: 0 auto 2vw;}
div.m_price_box ul {display: flex;align-items: center;justify-content: center;}
div.m_price_box ul li {text-align: center;}
div.m_price_box ul li a {color: #000;font-size: 20px;}
div.m_price_box ul li a span {line-height: 1.2;display: inline-block;}
div.m_price_box ul li a span b {}
div.m_price_box ul li a span em {font-style: normal;font-weight: bold;color: #ff4546;}
div.m_price_box ul li a img {}

p.naver_txt01 {}

/* 유료페이지 */
#paid .wrap{width:90%; margin:0px auto; text-align: center;}
#paid .con_01{margin-top:36px;}
#paid .paid_txt_01{font-size: 28px; font-weight: 700; line-height: 30px; letter-spacing: -1.5px;}
#paid .paid_txt_02{font-size:14px;margin: 5px 0px 40px; color: red; font-weight: 300; line-height:12px; letter-spacing: -1px;} 

#paid .con_02{display: flex; flex-direction: column; gap: 10px; margin-top:28px;}
#paid .con02_btn{display: flex; justify-content: space-between; align-items: center;width:100%;}
#paid .con02_btn a,.con02_txt p {flex: 1; text-align: center;}
#paid .con02_btn a {margin: 0 5px; padding: 24px 10px; text-decoration: none; border-radius: 20px; color: #fff; font-size: 26px; font-weight: 700; letter-spacing: -1px;}
#paid .con02_btn a span{font-size:18px ;display: block; letter-spacing: -1px; line-height: 30px;}
#paid .btn01{background-color: #47484d;}
#paid .btn02{background-color: #288dff;}
#paid .btn03{background-color: #ff4546;}

#paid .con02_txt{display: flex; justify-content: space-between; align-items: center; margin-top: -12px; width:100%;}
#paid .con02_txt p { margin: 0 5px; padding: 10px 14px 0px; font-size:20px; font-weight: 700; letter-spacing: -1px; line-height: 30px;}
#paid .con02_txt p span{font-size:20px ;display: block; font-weight: 700;color:#47474e; letter-spacing: -1px;}

#paid .con_03{margin-top: 20px; margin-bottom: 20px; border-top: 1px solid #9ccc3c;}
#paid .con03_txt{color: red; margin: 12px 0px 6px; font-weight: 700; font-size: 18px; letter-spacing: -1px;}
#paid .con03_info{ font-size: 12px; font-weight: 300; letter-spacing: -1px;}
#paid .con03_info li{list-style: none;}

.sub02_bottom a {
    text-align: center;
    display: block;
	text-align: center;
    line-height: 49px;
    width: 100%;
    border-radius: 90px;
    margin-top: 8px;
    background-color: #9ccc3c;
    border: none;
    color: white;
    cursor: pointer;
    height: 55px;
    font-size: 26px;
	font-weight: 700;
	letter-spacing: -1px;}
/* //유료페이지 */

/* 네이버 사용방법*/
.n_01{ font-size: 15px; font-weight: 600;}
.n_02{display: block; background: #9ccc3c; padding: 14px 0; font-size: 25px; font-weight: 700; color: #000; margin: 10px 0px 30px; border-radius: 24px;}
/* //네이버 사용방법*/



/* ����� ��Ÿ�� */
    .hamburger-menu {
        width: 48px;
        height: 48px;
        background-color: #000;
        position: fixed;
        top: 33px;
        right: 20px;
        cursor: pointer;
        z-index: 1000;
        border-radius: 50%; /* �� ����� ���� ������ ���� */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hamburger-menu .line {
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin: 6px 12px;
    transition: all 0.3s ease-in-out;
    }
    @media screen and (max-width: 768px) {
        .hamburger-menu {
            display: block; /* ȭ���� ���� ��쿡�� �ܹ��� �޴� ���̱� */
        }
    }

		
 /* shop */
.logo2 {background:url('../img/sub_logo.jpg') no-repeat center ;  width:100%; height:125px; background-color: #fff; z-index: 999;display: block;margin: 10px auto;}
.tab-slider { overflow: hidden; position: relative;}
.wrap{float:left;}
.tab-slider-nav {display: flex;overflow-x: auto;  scroll-snap-type: x mandatory; /* ���� ���� ��ũ�� ���� */ -webkit-overflow-scrolling: touch; /* iOS���� �ε巯�� ��ũ�� ���� */}
.tab-slider-nav {  position: fixed; /*top: 155px;*/top: 155px;  width: 100%; background-color: #fff; z-index: 999; margin-left:5vw}

.tab-slider-content {width:90%;margin:0px auto 30px}
.tab-slider-nav-item {cursor: pointer;white-space: nowrap;	scroll-snap-align: center;transition: background-color 0.3s ease;background: #fff;border:1px solid #ddd;border-radius: 30px;margin-right: 4px;padding: 9px 20px;font-weight: 600;	}
.tab-slider-nav-item.active {background: #9ccc3d;}
.tab-slider-panel {display: none; padding: 20px;}
.tab-slider-panel.active {display: block; }

.map01{position:relative;width:100%;float:left;margin-bottom:30px}
.name01{color:#9ccc3d;font-size:24px;font-weight:600;width:20%;float:left;margin-bottom:10px}
.map01::after { content: ""; display: block; width: 83%; height: 4px; background-color: #9ccc3d; position: absolute; top: 14px; left: 61px;}
.name02{float:left;/*width:100%;*/width:auto;font-weight:600;font-size:5vw}
.name03{float:left;width:100%;letter-spacing:-1px;font-size:3.5vw;color:#999}

.tab-slider-content a{font-size: 14px ;color: #fff; background: #000; border-radius: 30px; display: block; width: 80px; height: 28px; text-align: center; line-height: 28px;float:right;}
.map01 div a{/*position:absolute;*/ right:0px;margin-top:1.5vw}
.map01 div{margin-bottom:30px;float:left;width:100%}
.map01 span {border-radius: 50px; padding: 2px 8px; font-size: 2.6vw;background: #ff3d3d; color: #fff; float:left;margin: 1.7vw 0 0 1vw;}

 /* dep */
 .logo3 {background:url('../img/sub_logo3.jpg') no-repeat center ;  width:100%; height:157px; background-color: #fff; z-index: 999;display: block;margin: 10px auto;}
.wrap img {max-width: 100%; height: auto;}
#dep_sub{border-top: 5px solid #9ccc3d; width: 100%; height: 200px; background: #fff; z-index: 10;position:absolute;}



 /* info */
.logo4 {background:url('../img/sub_logo2.jpg') no-repeat center ;  width:100%; height:157px; background-color: #fff; z-index: 999;display: block;margin: 10px auto;}
.info_wrap{width:90%;margin:0 auto}
.info_wrap div{ width: 49.5%; text-align: center; font-size: 24px; float: left; height: 114px; padding-top: 42px; border-radius: 24px; font-weight: 600;}
.info_wrap div a{text-decoration:none; color:#000;display:block;width:100%}
.email{background:#9ccc3d url(../img/arrow.png) no-repeat 91% 89%;margin-right:1%}
.kakao{background:#fae200 url(../img/arrow.png) no-repeat 91% 89%;}
 /* info ������ */
.ad02{width:90%}
.ad01 {width: 90%;overflow: hidden; position: relative; }
.ad01 img {width: 100%; height: auto; display: block;}
.slider {margin:20px 0 ; display: flex; transition: transform 0.5s ease-in-out;}
.dot-container { position: absolute; bottom: 33px; left: 50%; transform: translateX(-50%); display: flex;}
.dot {width: 10px; height: 10px; background-color: #333; border-radius: 50%; margin: 0 5px; cursor: pointer; transition: background-color 0.3s ease;}
.dot.active { background-color: #9ccc3c;}

/* �ܹ��� */
.overlay { display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 1000;}
.menu { display: none; font-weight: 900; position: fixed; width: 80%; top: 0; right: 0; padding: 24% 10% 10%; z-index: 1001; font-size: 6vw; letter-spacing:-1px; color: #fff;}
.menu a { display: inline-block; margin-bottom: 26px; padding-bottom: 6px; color: #fff; text-decoration: none; border-bottom: 2px solid #9ccc3c; position:relative;}
.menu a:before{position:absolute;top:2vw;left:-4vw;display:inline-block;content:"";background:url('../img/arrow_menu.png') no-repeat left center;width:8px;height:19.5px;background-size:contain}
.menu a:hover { color: #9ccc3d;}
.hamburger-menu { position: fixed; top: 11vw; right: 20px; cursor: pointer; z-index: 1002;}
.hamburger-menu div:first-child{margin-top:13px}
.line { width: 30px; height: 3px; background-color: #000; margin: 5px 0; transition: 0.4s;}

.change .line:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .line:nth-child(2) {
    opacity: 0;
}

.change .line:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}


 /* today */




/* PCȭ�� ������¡ */

@media only screen and (max-width: 3840px) {ul, ol, li {list-style: none; }

		.header {width: 640px;margin: 2vw auto 0;}
		.content-box {width: 640px;margin: 4px auto 0; height: 4vw}
		.content-box a {text-align:center;line-height: 1.2;font-size: 2.5em;height: auto;height: 4vw; display: flex;
        flex-direction: column;justify-content: center;}
	    .notice a {color:#333;}
		
		/* Footer */
		footer .wrap {width:640px;border-top: 1px solid #888;padding-bottom: 5vw;margin-top: 2vw;}
		footer .wrap p {font-size: 0.8em;border-top: 1px solid #888;border-bottom: 1px solid #888;padding: 1vw 0;font-weight: 400;}
		footer p {/*margin-bottom:5%;*/}
	
	    div.Btn {
        position: absolute;
        right: 4.8vw;
        top: 0.7vw;
	    max-width: 70%;}
	
		
		/* Footer --- Social icons */
		ul.f_social_box {display: flex;justify-content: center;margin: 1vw 0 0;}
		ul.f_social_box li {}
		ul.f_social_box li a {}
		ul.f_social_box li a span {display: block;color: #888;font-weight: 400;}
		ul.f_social_box li a img {max-width: 60%;}

		.hamburger-menu {right: 42vw;top: 3vw;}
		.back { left: 42vw;top: 3vw;}
		.menu {font-size: 1.5em; width: 15vw;right: 32vw;top: 6vw;}
		.overlay {width: 640px; left: 50%;transform: translate(-50%);}
		.menu a:before {top: 0.5vw;left: -1vw;}


		.box1{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box2{background:#9ccc3d url(../img/arrow.png) no-repeat 96% 50%;}
		.box3{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box4{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box5{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}

		/* 유료페이지 */
		#paid .wrap {width:640px;}

		/* index --- 공지사항 Slide */
		.marquee-container {
		  width: 640px;
		  background-color: #FFF;
		  overflow: hidden;
		  position: relative;
		  white-space: nowrap;
		  border-top:1px solid #888;
		  border-bottom:1px solid #888;
		}

		.marquee {
		  display: inline-block;
		  padding-left: 100%;
		  animation: scroll 20s linear infinite; /* 숫자s를 늘릴수록 속도가 느려짐 */
		}

		@keyframes scroll {
		  0% {
			transform: translateX(0%);
		  }
		  100% {
			transform: translateX(-100%);
		  }
		}

		.notice {
		  display: inline-block;
		  padding: 10px 20px;
		  font-size: 18px;
		  color: #333;
		}


		/* ��ü�޴� */
		.menu {padding: 2% 10% 10%;}
		.hamburger-menu div:first-child {margin-top: 4px;}
		.hamburger-menu .line {margin: 3px 12px;}
		.wrap {width: 640px;margin:0 auto;float: none;}
		
		.tab-slider {width: 980px;margin: 0 auto;}
		.tab-slider-nav {position: fixed;/* top: 172px; */top: 228px;width:50%;background-color: #fff;z-index: 999;margin-left: 0vw;}
		.tab-slider-content > div:first-child {margin-top: 22vw;}
		
		.ad01 {width: 100%;}
	    .footer-logo {width: 90%;}
		#main_con_box{width: 640px;height: 4vw; margin: 5px auto; text-align: center; line-height: 150px; border-radius: 24px; }
		#main_con_box .box1{width:49%; float:left;height:4vw}
		#main_con_box .box1_2{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height: 4vw}
		#main_con_box2{width: 640px;height: 4vw; margin: 0px auto 10px; text-align: center; line-height: 150px; border-radius: 24px; }
		#main_con_box2 .box3{width:49%; float:left;height: 4vw}
		#main_con_box2 .box4{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height: 4vw}

		#main_con_box div a {}
		#main_con_box .box1 a {}
		#main_con_box .box1_2 a {}
		#main_con_box .box3 a {}
		#main_con_box .box4 a {}
		#main_con_box .box5 a {}
}

@media only screen and (max-width: 2560px) {ul, ol, li {list-style: none; }

		.header {width: 640px;margin: 2vw auto 0;}
		.content-box {width: 640px;margin: 5px auto 0; height: 4vw}
		.content-box a {text-align:center;line-height: 1.2;font-size: 2.5em;height: auto;height: 4vw; display: flex;
        flex-direction: column;justify-content: center;}
		
		/* Footer */
		footer .wrap {width:640px;border-top: 1px solid #888;padding-bottom: 5vw;margin-top: 2vw;}
		footer .wrap p {font-size: 0.8em;border-top: 1px solid #888;border-bottom: 1px solid #888;padding: 1vw 0;font-weight: 400;}
		footer p {/*margin-bottom:5%;*/}
	
	    div.Btn {
        position: absolute;
        right: 7vw;
        top: 1vw;
	    max-width: 70%;}
		
		/* Footer --- Social icons */
		ul.f_social_box {display: flex;justify-content: center;margin: 1vw 0 0;}
		ul.f_social_box li {}
		ul.f_social_box li a {}
		ul.f_social_box li a span {display: block;color: #888;font-weight: 400;}
		ul.f_social_box li a img {max-width: 60%;}

		.hamburger-menu {right: 38vw;top: 3vw;}
		.back { left: 38vw;top: 4vw;}
		.menu {font-size: 1.5em; width: 15vw;right: 32vw;top: 6vw;}
		.overlay {width: 640px; left: 50%;transform: translate(-50%);}
		.menu a:before {top: 0.5vw;left: -1vw;}


		.box1{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box2{background:#9ccc3d url(../img/arrow.png) no-repeat 96% 50%;}
		.box3{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box4{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box5{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}

		/* 유료페이지 */
		#paid .wrap {width:640px;}

		/* index --- 공지사항 Slide */
		.marquee-container {
		  width: 640px;
		  background-color: #FFF;
		  overflow: hidden;
		  position: relative;
		  white-space: nowrap;
		  border-top:1px solid #888;
		  border-bottom:1px solid #888;
		}

		.marquee {
		  display: inline-block;
		  padding-left: 100%;
		  animation: scroll 20s linear infinite; /* 숫자s를 늘릴수록 속도가 느려짐 */
		}

		@keyframes scroll {
		  0% {
			transform: translateX(0%);
		  }
		  100% {
			transform: translateX(-100%);
		  }
		}

		.notice {
		  display: inline-block;
		  padding: 10px 20px;
		  font-size: 18px;
		  color: #333;
		}


		/* ��ü�޴� */
		.menu {padding: 2% 10% 10%;}
		.hamburger-menu div:first-child {margin-top: 4px;}
		.hamburger-menu .line {margin: 3px 12px;}
		.wrap {width: 640px;margin:0 auto;float: none;}
		
		.tab-slider {width: 980px;margin: 0 auto;}
		.tab-slider-nav {position: fixed;/* top: 172px; */top: 228px;width:50%;background-color: #fff;z-index: 999;margin-left: 0vw;}
		.tab-slider-content > div:first-child {margin-top: 22vw;}
		
		.ad01 {width: 100%;}
	    .footer-logo {width: 90%;}
		#main_con_box{width: 640px;height: 4vw; margin: 5px auto; text-align: center; line-height: 150px; border-radius: 24px; }
		#main_con_box .box1{width:49%; float:left;height:4vw}
		#main_con_box .box1_2{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height: 4vw}
		#main_con_box2{width: 640px;height: 4vw; margin: 0px auto 10px; text-align: center; line-height: 150px; border-radius: 24px; }
		#main_con_box2 .box3{width:49%; float:left;height: 4vw}
		#main_con_box2 .box4{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height: 4vw}

		#main_con_box div a {}
		#main_con_box .box1 a {}
		#main_con_box .box1_2 a {}
		#main_con_box .box3 a {}
		#main_con_box .box4 a {}
		#main_con_box .box5 a {}
}

@media only screen and (max-width: 1920px) {ul, ol, li {list-style: none; }

		.header {width: 640px;margin: 2vw auto 0;}
		.content-box {width: 640px;margin: 5px auto 0; height: 8vw}
		.content-box a {text-align:center;line-height: 1.2;font-size: 2.5em;height: auto;height: 8vw; display: flex;
        flex-direction: column;justify-content: center;}
		
		/* Footer */
		footer .wrap {width:640px;border-top: 1px solid #888;padding-bottom: 5vw;margin-top: 2vw;}
		footer .wrap p {font-size: 0.8em;border-top: 1px solid #888;border-bottom: 1px solid #888;padding: 1vw 0;font-weight: 400;}
		footer p {/*margin-bottom:5%;*/}
	
	    div.Btn {
        position: absolute;
        right: 9vw;
        top: 1.3vw;
	    /*max-width: 70%;*/}
		
		/* Footer --- Social icons */
		ul.f_social_box {display: flex;justify-content: center;margin: 1vw 0 0;}
		ul.f_social_box li {}
		ul.f_social_box li a {}
		ul.f_social_box li a span {display: block;color: #888;font-weight: 400;}
		ul.f_social_box li a img {max-width: 60%;}

		.hamburger-menu {right: 34vw;top: 4vw;}
		.back { left: 34vw;top: 4vw;}
		.menu {font-size: 1.5em; width: 15vw;right: 32vw;top: 6vw;}
		.overlay {width: 640px; left: 50%;transform: translate(-50%);}
		.menu a:before {top: 0.5vw;left: -1vw;}


		.box1{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box2{background:#9ccc3d url(../img/arrow.png) no-repeat 96% 50%;}
		.box3{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box4{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box5{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}

		/* 유료페이지 */
		#paid .wrap {width:640px;}

		/* index --- 공지사항 Slide */
		.marquee-container {
		  width: 640px;
		  background-color: #FFF;
		  overflow: hidden;
		  position: relative;
		  white-space: nowrap;
		  border-top:1px solid #888;
		  border-bottom:1px solid #888;
		}

		.marquee {
		  display: inline-block;
		  padding-left: 100%;
		  animation: scroll 20s linear infinite; /* 숫자s를 늘릴수록 속도가 느려짐 */
		}

		@keyframes scroll {
		  0% {
			transform: translateX(0%);
		  }
		  100% {
			transform: translateX(-100%);
		  }
		}

		.notice {
		  display: inline-block;
		  padding: 10px 20px;
		  font-size: 18px;
		  color: #333;
		}


		/* ��ü�޴� */
		.menu {padding: 2% 10% 10%;}
		.hamburger-menu div:first-child {margin-top: 4px;}
		.hamburger-menu .line {margin: 3px 12px;}
		.wrap {width: 640px;margin:0 auto;float: none;}
		
		.tab-slider {width: 980px;margin: 0 auto;}
		.tab-slider-nav {position: fixed;/* top: 172px; */top: 228px;width:50%;background-color: #fff;z-index: 999;margin-left: 0vw;}
		.tab-slider-content > div:first-child {margin-top: 22vw;}
		
		.ad01 {width: 100%;}
	    .footer-logo {width: 90%;}
		#main_con_box{width: 640px;height: 8vw; margin: 5px auto; text-align: center; line-height: 150px; border-radius: 24px; }
		#main_con_box .box1{width:49%; float:left;height:8vw}
		#main_con_box .box1_2{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height: 8vw}
		#main_con_box2{width: 640px;height: 8vw; margin: 0px auto 10px; text-align: center; line-height: 150px; border-radius: 24px; }
		#main_con_box2 .box3{width:49%; float:left;height: 8vw}
		#main_con_box2 .box4{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height: 8vw}

		#main_con_box div a {}
		#main_con_box .box1 a {}
		#main_con_box .box1_2 a {}
		#main_con_box .box3 a {}
		#main_con_box .box4 a {}
		#main_con_box .box5 a {}


}

@media only screen and (max-width: 1024px) {

		.header {width: 980px;margin: 5vw auto 0;}
		.content-box {width: 980px;margin: 5px auto 0;}
	    .footer-logo {width: 90%;}	
}

@media only screen and (max-width: 980px) {

		.header {width: 980px;margin: 5vw auto 0;}
		.content-box {width: 980px;margin: 5px auto 0;}
	    .footer-logo {width: 90%;}
}


@media only screen and (max-width: 768px) {

		.header {width: 640px;margin: 5vw auto 0;}
		.content-box {width: 640px;margin: 5px auto 0;}
	    .footer-logo {width: 90%;}
}



@media only screen and (max-width: 640px) {

      div.m_price_box  {width: 99%;margin: 0 auto 5vw;}
      div.m_price_box ul {display: flex;align-items: center;justify-content: center;}
      div.m_price_box ul li {text-align: center;width: 33%;}
      div.m_price_box ul li a {color: #000;font-size: 20px;}
      div.m_price_box ul li a span {font-size: 15px;letter-spacing: -2px;}
      div.m_price_box ul li a span b {font-size: 15px;}
      div.m_price_box ul li a span em {font-style: normal;font-weight: bold;color: #ff4546;}
      div.m_price_box ul li a img {width: 100%;}
	
		/* 유료페이지 */
		#paid .wrap {width:90%;}

		.hamburger-menu {top: 10vw; right: 26px;}
		.back { left: 5vw;top: 10vw;}
		.menu {font-size: 6vw; width: 80%;top: 0;right: 0;}
		.overlay {width: 100%;left: 0; transform: unset;}
		.menu a:before {top: 2vw;left: -4vw;}

		/* Footer */
		footer .wrap {width: 90%;padding-bottom: 10vw;margin-top:5vw;}	
		footer .wrap p {font-size: 0.8em;padding: 3vw 0;}
		
		/* Footer --- Social icons */
		ul.f_social_box {display: flex;justify-content: center;margin: 4vw 0 0}
		ul.f_social_box li {}
		ul.f_social_box li a {}
		ul.f_social_box li a span {}
		ul.f_social_box li a img {}

		.header {width: 90%;margin: 5vw auto 0;}
		.content-box {width: 90%;margin: 5px auto 0; height:20vw;}
		.content-box a {line-height: 6vw; font-size: 1.5em; text-align: center;height:20vw; display: flex;
        flex-direction: column;
        justify-content: center; height: 20vw;}
		footer p {margin-bottom:0;		}
		
		.box1{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box2{background:#9ccc3d url(../img/arrow.png) no-repeat 98.3% 50%;}
		.box3{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box4{background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%;}
		.box5{background:#e0f1cc url(../img/arrow.png) no-repeat 98.3% 50%;}

		#main_con_box2 .box3,
		#main_con_box2 .box4 {height: 20vw;}

		/* index --- 공지사항 Slide */
		.marquee-container {
		  width: 90%;
		}

		.marquee {
		  display: inline-block;
		  padding-left: 100%;
		  animation: scroll 30s linear infinite; /* 숫자s를 늘릴수록 속도가 느려짐 */
		}

		.notice {
		  display: inline-block;
		  padding: 10px 20px;
		  font-size: 18px;
		  color: #333;
		}

		/* ��ü�޴� */
		.menu {padding: 24% 10% 10%;}
		.hamburger-menu div:first-child {margin-top: 13px;}
		.hamburger-menu .line {margin: 6px 12px;}

		/* Sub Page */
		.wrap {width: 100%;}
		.wrap_shop {width: 100%;margin-top:40vw}
		.tab-slider {width: 100%;}
		.tab-slider-nav {position: fixed;/* top: 172px; */top: 30vw;width: 100%;background-color: #fff;z-index: 999;margin-left: 5vw;}
		.tab-slider-content > div:first-child {margin-top: 10vw;}
		.ad01 {width: 90%;}
	    .footer-logo {width: 90%;}
#main_con_box{width: 90%;height: 20vw; margin: 5px auto; text-align: center; line-height: 150px; border-radius: 24px; }
#main_con_box .box1{width:49%; float:left;height:20vw;}
#main_con_box .box1_2{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height:20vw;}
#main_con_box2{width: 90%;height: 20vw; margin: 0px auto 10px; text-align: center; line-height: 150px; border-radius: 24px; }
#main_con_box .box3{width:49%; float:left;height:20vw}
#main_con_box .box4{width:50%; background:#e0f1cc url(../img/arrow.png) no-repeat 96% 50%; float:right;height:20vw;}

}

@media only screen and (max-width: 360px) {

	.tab-slider-nav {top: 30vw;}
	.ad01 {width: 90%;}
	.footer-logo {width: 90%;}
}












