<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<!--/* Google Tag Manager (noscript) */-->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MK3LCST6');
	</script>
	<!--/* End Google Tag Manager (noscript) */-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap">
	<link rel="stylesheet" href="../css/main.css">

	<!-- naver Tag Manager -->
	<title>유신예상종합지</title>
	<meta charset="UTF-8">
	<meta name="naver-site-verification" content="a6aca821283eee145a2bdd48ca7b1a509479efc1" />
	<meta name="description" content="안녕하세요. 20년 전통의 名品 유신예상종합지 유신예상종합지입니다.">
	<meta property="og:type" content="article">
	<meta property="og:title" content="유신예상종합지">
	<meta property="og:description" content="안녕하세요. 20년 전통의 名品 유신예상종합지 유신예상종합지입니다.">
	<meta property="og:image" content="https://yousin.co.kr/img/유신예상종합지_thumbnail_250108.png">
	<meta property="og:url" content="https://yousin.co.kr">
	<link rel="canonical" href="https://yousin.co.kr/">
	<meta name="robots" content="index,follow">
	<link rel="shortcut icon" href="https://yousin.co.kr/img/yousin_favicon.ico">
	<link rel="icon" href="https://yousin.co.kr/img/yousin_favicon.ico">
	<link rel="default icon" href="https://yousin.co.kr/img/yousin_favicon.ico">
	<link rel="apple-touch-icon" href="https://yousin.co.kr/img/yousin_favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="https://yousin.co.kr/img/yousin_favicon.ico">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="유신예상종합지">
	<meta name="twitter:description" content="안녕하세요. 20년 전통의 名品 유신예상종합지 유신예상종합지입니다.">
	<meta name="twitter:image" content="https://yousin.co.kr/img/유신예상종합지_thumbnail_250108.png">
	<!-- naver Tag Manager -->
	<meta name="keywords" content="유신,유신지,유신종합지,유신예상지,유신종합예상지,유신예상종합지,예상지,종합지,종합예상지,예상종합지,마필,조교,기수,조교상태,선행,선입,추입,자유,대박,쌍승,복승,복연승,단승,삼복승,삼쌍승,단방,축마,꼬리마,사행,상위마,경주의법칙,축마예상,혼전경주,복병마,능력지수,고배당,초고배당,증감,경주순위,에이스,뉴월드,서울경마,신마뉴스,명승부,경마문화,마사일호,경마의신,퍼펙트,경마필,과천경마,스피드,스포츠경마,경마114,확률경마,베스트경마,경마코리아,경마짱,1등경마,가속도경마,히트경마,열전경">

</head>

<body id="yousinmain">
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MK3LCST6" height="0" width="0" style="display:none;visibility:hidden">
	</iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- 햄버거 메뉴 -->
<div th:replace="include/main_menu :: main_menu"></div>	

<!-- 메인 gnb 시작 -->
<div class="header">
	<a href="#" onclick="return false;" class="logo"><img src="../img/logo_21th.jpg" alt="로고 이미지"></a>
</div>

<!-- 공지사항 Slide -->
<div class="marquee-container">
	<div class="marquee">
		<!-- <span class="notice"><strong style="color: #ff5067"> [공지]</strong> 금주 1.31~2.2 마사회 휴장으로 정보가 제공되지 않습니다</span> -->
		<span class="notice"><a href="https://smartstore.naver.com/yousin2005/products/11524377195" target="_blank"><strong style="color: #ff5067"> [판매중]</strong> ★★네이버에서 유신예상종합지를 구매해주세요★★</a></span>
		<span class="notice"><a href="../sub/hit" ><strong style="color: #ff5067"> [알림]</strong> 4/26(토)서울 2경주 133.8배 적중!</a></span>
		<span class="notice"><a href="../sub/hit" ><strong style="color: #ff5067"> [알림]</strong> 4/27(일)전경주 적중!</a></span>
		<span class="notice"><a href="https://smartstore.naver.com/yousin2005/products/11524344811" target="_blank"><strong style="color: #03c75a"> [행사중]</strong> 네이버에서 더욱 저렴하게 구매하세요</a></span>
		<span class="notice"><a href="../sub/dep" ><strong style="color: #5c86f6"> [이용방법]</strong> 네이버 구매하기에서 이용방법을 확인하세요</a></span>
		<!-- <span class="notice"><strong style="color: #5c86f6"> [공지사항]</strong> 21주년 기념 페이지가 새단장 했습니다.</span> -->
	</div>
</div>
	
<br />
<div class="m_price_box">
    <ul>
       <li><a href="https://smartstore.naver.com/yousin2005/products/11524377195" target="new"><img src="../img/price_thum01.png" alt="1주 사용권" />
       <span><b>1주 사용권</b><br/>구매하기</span>
       </a></li>
       <li><a href="https://smartstore.naver.com/yousin2005/products/11524344811" target="new"><img src="../img/price_thum02.png" alt="4주 사용권" />
       <span><b>4주 사용권</b> <em>8%할인</em><br/>구매하기</span>
       </a></li>
       <li><a href="https://smartstore.naver.com/yousin2005/products/11524362182" target="new"><img src="../img/price_thum03.png" alt="12주 사용권" />
       <span><b>12주 사용권</b> <em>10%할인</em><br/>구매하기</span>
       </a></li>   
    </ul>
</div>
	
<div id="main_con_box">
	<div class="content-box box1" style="margin:0px 0px">
		<a href="../sub/dep">이용 가이드<br />
			<!-- <span class="small">바로가기</span>  -->
		</a>
	</div>
	<div class="content-box box1_2" style="margin:0px 0px">
		<a href="../sub/hit">지난 경주<br />
			<!-- <span class="small">바로가기</span>  -->
		</a>
	</div>
</div>
<div class="content-box box2">
	<a href="../code" id="shopLink">유신예상종합지 다운받기<br />
		<span class="small">매주 목요일 12시 오픈</span>
	</a>
</div>
<div class="content-box box5">
	<a href="../sub/naver_use">유신예상종합지 구매하기<br />
		<span class="small">네이버 구매링크 및 구매방법</span>
	</a>
</div>
<div id="main_con_box2">
	<div class="content-box box3">
		<a href="../sub/shop">지점 판매처<br />
			<!-- <span class="small">바로가기</span>  -->
		</a>
	</div>
	<div class="content-box box4">
		<a href="../sub/info">고객상담센터<br />
			<span class="small">결재/이용방법</span>
		</a>
	</div>
	<!-- <div class="content-box box4">
        <a href="https://www.youtube.com/@yousin2005">네이버 구매<br />
        </a>
    </div> -->
</div>
<!-- 메인 gnb 끝 -->

<!-- 이베트 배너 시작 -->
<style>
	.ad01 {position: relative; /*width: 90%;*/ overflow: hidden; margin-bottom:16px;}
	.slider {display: flex; transition: transform 0.5s ease-in-out;}
	.slider a {flex-shrink: 0; width: 100%;}
	.slider img {width: 100%;}
	.dot-container {position: absolute;bottom: 5px; left: 50%;transform: translateX(-50%); display: flex;j ustify-content: center;}
	.dot {height: 10px; width: 10px; margin: 0 5px; background-color: #bbb; border-radius: 50%; display: inline-block; transition: background-color 0.6s ease;}
	.dot.active {background-color: #717171;}
</style>

<div class="wrap">
	<div class="ad01">
		<div class="slider"><!-- 필요한 만큼 이미지를 추가하세요 -->
			<a href="https://m.smartstore.naver.com/yousin2005"><img src="../img/ad_01-4.png" alt="Image 1"></a>
			<a href="index.html"><img src="../img/ad_01-6.png" alt="Image 2"></a>
			<a href="index.html"><img src="../img/ad_01-5.png" alt="Image 3"></a>
			<a href="sub/hit"><img src="../img/ad_01-1.png" alt="Image 4"></a>
			<a href="sub/dep"><img src="../img/ad_01-2.png" alt="Image 5"></a>
			<a href="sub/shop"><img src="../img/ad_01-3.png" alt="Image 6"></a>
		</div>
		<div class="dot-container"><!-- 이미지 개수에 맞게 점을 추가하세요 -->
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
			<span class="dot"></span>
		</div>
	</div>
</div>

<script>
	const slider = document.querySelector('.slider');
	const dots = document.querySelectorAll('.dot');

	let currentIndex = 0;
	let touchStartX = 0;
	let touchEndX = 0;

	function updateSlider(index) {
		const translateValue = -index * 100 + '%';
		slider.style.transform = `translateX(${translateValue})`;

		dots.forEach((dot, i) => {
			dot.classList.toggle('active', i === index);
		});
	}

	dots.forEach((dot, i) => {
		dot.addEventListener('click', () => {
			currentIndex = i;
			updateSlider(currentIndex);
		});
	});

	 // <!--자동 슬라이드 기능 추가 -->
	const autoSlideInterval = setInterval(() => {
		currentIndex = (currentIndex + 1) % dots.length;
		updateSlider(currentIndex);
	}, 5000); // 5초마다 슬라이드 변경

	// 초기 슬라이드 설정
	updateSlider(currentIndex);

	// 터치 이벤트 추가
	slider.addEventListener('touchstart', handleTouchStart);
	slider.addEventListener('touchmove', handleTouchMove);
	slider.addEventListener('touchend', handleTouchEnd);

	function handleTouchStart(event) {
		touchStartX = event.touches[0].clientX;
	}

	function handleTouchMove(event) {
		touchEndX = event.touches[0].clientX;
	}

	function handleTouchEnd() {
		if (touchStartX - touchEndX > 50) { // 왼쪽으로 스와이프
			currentIndex = (currentIndex + 1) % dots.length;
			updateSlider(currentIndex);
		} else
		if (touchEndX - touchStartX > 50) { // 오른쪽으로 스와이프
			currentIndex = currentIndex === 0 ? dots.length - 1 : currentIndex - 1;
			updateSlider(currentIndex);
		}
	}
</script>

<!-- 이벤트 배너 끝 -->
<div th:replace="include/footer :: footer"></div>

<!-- <script>
document.addEventListener('DOMContentLoaded', function() {
    var shopLink = document.getElementById('shopLink');
    shopLink.addEventListener('click', function(event) {
        event.preventDefault(); // 기본 링크 동작 방지
        alert('오픈 준비 중입니다.');
    });
});
</script>  -->
</body>
</html>
